.w-gpt {
    display: flex;
    flex-direction: column;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 30% -100%,
            #042c54 25%,
            rgba(4, 44, 84, 1) 85%,
            rgba(27, 120, 222, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 30% -100%,
            #042c54 25%,
            rgba(4, 44, 84, 1) 85%,
            rgba(27, 120, 222, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 30% -100%,
            #042c54 25%,
            rgba(4, 44, 84, 1) 85%,
            rgba(27, 120, 222, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 30% -100%,
            #042c54 25%,
            rgba(4, 44, 84, 1) 85%,
            rgba(27, 120, 222, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 30% -100%,
            #042c54 25%,
            rgba(4, 44, 84, 1) 85%,
            rgba(27, 120, 222, 1) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.st-w{
    display: flex;
}
.st-w{
    margin: 0;
    /* max-width: 700px; */
}

.nd-w{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.nd-w h1{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.nd-w p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.rd-w {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}
.rd-w .feature-container{
    flex: 1;
    margin: 1rem;
    flex-direction: column;
}

@media screen and (max-width: 900px){
    .nd-w{
        flex-direction: column;
        align-items: center;
    }
    .nd-w h1{
        text-align: center;
    }
    .rd-w{
        flex-direction: column;
    }
    .rd-w .feature-container{
        margin: 1rem 0;
    }
    
}

@media screen and (max-width: 500px){
    .nd-w h1{
        font-size: 24px;
        line-height: 30px;
    }
    .st-w .feature-container{
        flex-direction: column;
    }
    .nd-w p{
        font-size: 14px;
        line-height: 20px;
    }
}