.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-family);
}

.footer_container-early-access{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}

.footer_container-early-access h1{
    font-size: 2rem;
    font-weight: 600;
    white-space: wrap;
}

.footer_container-early-access-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

.button {
  --glow-color: #F49867;
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: #43337f;
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.5s;
  }

.button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.footer_container-more{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.8);
    gap: 1rem;
}

.footer_container-more-logo img{
    width: 100px;
    padding-bottom: 10px;
}

.footer_container-more-logo h6{
    font-size: 0.75rem;
    font-weight: 200;
    white-space: wrap;
}

.footer_container-more h3{
    font-size: 1rem;
    font-weight: 600;
    white-space: wrap;
}
.footer_container-more-logo , .footer_container-more-links , .footer_container-more-company , .footer_container-more-getin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px;
    padding: 1rem;
}
.footer_container-more ul{
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 200;
    white-space: wrap;
}

.footer_container-copyright{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-top: 5rem;
    color: rgba(255, 255, 255, 0.8);
}